:root {
  height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #716a5f;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  margin: 16px 0;
}

ul {
  padding-left: 16px;
}

pre {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
